<h1>Detalle Pokemon</h1>
<div ng-repeat="pokemon in datos">
  <table class="table table-bordered">
    <tbody>
      <tr class="active">
        <td align="center" style="width:60%; background-image:url(images/background_lista.png); background-repeat: no-repeat;">
          <img ng-src="{{ pokemon.sprites.front_default }}" alt="" >
          <p><strong><h2>{{ pokemon.name }}</h2></strong></p>
          <table class="table" style=" width:300px; background-color:transparent">
            <tr align="center">
              <td><strong>{{ pokemon.base_experience}}</strong><br>Experiencia</td>
              <td><strong>{{ pokemon.height / 10 | number:2}} mts.</strong><br>Altura</td>
              <td><strong>{{ pokemon.weight / 10 | number:2}} kg.</strong><br>Peso</td>
            </tr>
          </table>
          <div ng-repeat="especie in especies">
            <table class="table table-bordered">
              <tr><td><p align="justify">{{ especie.flavor_text_entries[3].flavor_text }}</p></td></tr>
              <tr class="info"><td><strong>Datos Adicionales</strong></td></tr>
              <tr>
                <td>
                  <ul>
                    <li><p><strong>Habitad: </strong>{{ especie.habitat.name }}</p></li>
                    <li><p><strong>Color: </strong>{{ especie.color.name }}</p></li>
                    <li><p><strong>Género: </strong>{{ especie.genera[2].genus }}</p></li>
                    <li><p><strong>Generación: </strong>{{ especie.generation.name }}</p></li>
                    <li><p><strong>Evoluciona desde: </strong>{{ especie.evolves_from_species.name }}</p></li>
                  </ul>
                </td>
              </tr>
            </table>
          </div>
        </td>
        <td>
          <table class="table table-bordered">
            <tr class="info">
              <td><strong>Habilidades</strong></td>
            </tr>
            <tr>
              <td>
                <ul ng-repeat="abilitie in pokemon.abilities">
                  <li>{{ abilitie.ability.name }}</li>
                </ul>
              </td>
            </tr>
          </table>
          <table class="table table-bordered">
            <tr class="info">
              <td><strong>Tipos</strong></td>
            </tr>
            <tr>
              <td>
                <ul ng-repeat="types in pokemon.types">
                  <li><a href="#/listadotipos/{{ types.type.url.split('/')[6] }}">{{ types.type.name }}</a></li>
                </ul>
              </td>
            </tr>
          </table>
          <table class="table table-bordered">
            <tr class="info">
              <td><strong>Especie</strong></td>
            </tr>
            <tr>
              <td>
                <ul>
                  <li>{{ pokemon.species.name }}</li>
                </ul>
              </td>
            </tr>
          </table>
          <table class="table table-bordered">
            <tr class="info">
              <td><strong>Evoluciones</strong></td>
            </tr>
            <tr>
              <td>
                <table class="table table-bordered">
                  <tr>
                    <td class="success" ng-repeat="evolucion in evoluciones">
                      <a href="#/detalle/{{ evolucion.id }}">{{ evolucion.name }}</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
